body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Courier";
    background-color: #472c22;
    color: #f5d5a9;
}

.title {
    text-align: left;
    margin-left: 50px;
    margin-right: auto;
    z-index: -1;
    position: relative;
    color: #ca6924;
}

.navbar {
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-end;
    right: 0;
    top: 0;
    background-color: #f5d5a9;
    opacity: 97%;
}

.navbar a {
    display: inline-block;
    text-align: center;
    color: #ca6924;
    padding: 24px 20px;
    transition: .3s;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    background: #e3a678;
    color: #873e23;
}

footer {
    text-align: center;
    bottom: 0;
}

.short-bio {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #f5d5a9;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

label, input {
    padding: 10px;
    margin: 10px;
}

input[type="text"], input[type="email"], input[type="submit"] {
    color: #bf6746;
    background: #f5d5a9;
    border-color: #bf6746;
}

input[type="text"], input[type="email"] {
    padding-right: 200px;
}

input[id="message"] {
    padding-bottom: 100px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f5d5a9; }
}

.top-bar {
    border-bottom: .2em solid #f5d5a9;
}

.bar {
    border-bottom: .15em solid #f5d5a9;
    width: 50%;
}

.bio {
    display: flex;
    flex-direction: row;
}

.bio img {
    float: right;
    opacity: 80%;
    margin-top: 20px;
    z-index: -5;
    background-blend-mode: overlay;
    border-style: double;
}

.bio p {
    float: left;
    padding-right: 30%;
}

.art-buttons {
    position: relative;
    text-align: center;
    color: #f5d5a9;
}

.art-button {
    background-color: #fff;
    border-color: #f5d5a9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main-art img {
    display: inline-block;
    flex-direction: row;
    border-style: double;
    background: #f5d5a9;
}

img {
    padding: 10px;
    opacity: 90%;
}

.main-art-text {
    font-family: "Courier";
    color: #472c22;
    position: relative;
    text-align: center;
}

.main-bio {
    font-size: 40px;
}